@{
    ViewData["Title"] = "Início";
}

<div class="container">
    <div class="card bg-dark text-success">
        <img src="~/images/ecommerce.jpg" class="card-img custom-img">
        <div class="card-img-overlay">
            <h1 class="card-title">Cadastro de produtos</h1>
            <a asp-controller="Produtos" asp-action="Index" class="btn btn-primary">Acesse os produtos</a>
        </div>
    </div>
</div>
